body{
    font-family: 'Noto Sans Thai Looped', sans-serif;
    background-color: rgb(243, 241, 221);
    height: 4400px;
}
.container{
    position:relative;
    width: 100%;
    height: 100%;
    container-type: inline-size;
}
.texttitle{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(220, 86, 50);
}
.slidebar{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mini-container{
    position: relative;
    padding-top: 30px;
    margin: auto;
    width: 100%;
    height: 100%;
}
.textslidehead{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(220, 86, 50);
}
.vs-text{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(220, 86, 50);
}
.imglionicon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    width: 50%;
    height: auto;
}
.imgcaticon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    width: 40%;
    height: auto;
}
.textslide{
    text-align: center;
    margin-top: 25vh;
    font-size: 0.8rem;
    color: rgb(60, 135, 201);
}
.imgmoney{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    top: 30%;
    left: 5.2vw;
    height: auto;
}
.imgmoneyblack{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    top: 30%;
    left: 5.2vw;
}
.imgcoinblack{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 9.2vw;
    width: 30%;
    height: auto;
}
.imgblend{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    top: 70%;
    left: 5.2vw;
}
.imgblendblack{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    top: 70%;
    left: 5.2vw;
}
.imgblendpoorblack{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    top: 72%;
    left: 5.2vw;
}
.imgtask{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    top: 100%;
    left: 6.2vw;
}
.imgtaskblack{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    top: 100%;
    left: 6.2vw;
}
.imgtaskpoorblack{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    top: 100%;
    left: 6.2vw;
}
.imgalclion{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    top: 130%;
    left: 6.2vw;
}
.imgalccat{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    top: 130%;
    left: 6.2vw;
}
.imgstar2{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    top: 137.9%;
    left: 14.9vw;
}
.imgstar3{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    top: 132%;
    left: -3vw;
}
.imgstar4{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    top: 133%;
    left: 16.2vw;
}
.imgachievement1{
    margin-top: 200vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}
.imgachievement2{
    margin-top: 110vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}
.containerscrollbar{
    top:25vh;
    position: absolute;
    height:100%; 
    width: 100%;
}

.raceBar {
    position:absolute;
    top:40vh;
    width: 100%;
    height: 400vh;
    display: flex;
    justify-content: space-around;
    gap:7%;
  }
  
  .progressBar, .fakeProgressBar {
    width: 7%;
    height: 100%;
    background-color: #D2D4D4;
    position: relative;
    overflow: hidden;
  }
  
  .progress{
    width: 100%;
    height: 0%;
    background-color: #96c896;
    position: absolute;
    top: 0;
    transition: all 0.1s ease-out;
  }