body {
    margin: 0;
    width: 100%;
}

.header{
    background: #DC5632;
    height: 312px;
    display: grid;
}

#text_header{
    margin: auto;
}


.part1{
    background-color: #F3F1DD;
    height: 1800px;
    display: grid;
    grid-template-columns: 40% 60%;
}

#pic_part1{
    width: 40%;
    margin-left: 300px;
    position: absolute;
    top: 280px;
    animation: left 5s 1;
}
@keyframes left {
    0%   {left: 30%;}
    25%  {left: 20%;}
    50%  {left: 0;}
}

.text_part1_1 {
    margin-left: 100px;
    margin-top: 150px;
    animation: fadein 5s 1;
}
@keyframes fadein {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.text_part1_2 {
    grid-column: 1 / span 2;
    margin: auto;
    margin-top: 180px;
}

.part2 {
    background: #D2D4D4;
    height: 1024px;
    display: grid;
}

#text_part2 {
    margin: auto;
}

.part3 {
    background: #38424A;
    height: 1080px;
    display: grid;
}

#text_part3{
    margin: auto;
}

.part4 {
    background: #608E61;
    height: 920px;
    display: grid;
}

#text_part4{
    margin: auto;
}

.part5 {
    position: relative;
    background: lightgrey;
    height: 1080px;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(3, auto);
}

.text_part5 {
    margin-top: 100px;
}

#pic_part5_1 {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 25%;
    margin: auto;
}

#pic_part5_2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 58%;
    bottom: 0;
    width: 15%;
    margin: auto;
}

.part6 {
    background: #3C87C9;
    text-align: center;
    display: grid;
    height: 920px;
    grid-template-rows: repeat(3, auto);
}

.text_part6_1{
    margin-top: 100px;
}

.part7{
    background: #F3F1DD;
    height: 500px;
    text-align: center;
    display: grid;
}

.text_part7 {
    margin-top: 50px;
}

.card_row {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: auto;
    grid-gap: 1rem;
}

.card{
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}
.card:hover{
    transform: translateY(-10%);
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card_front{
    position: absolute;
}
.card_front, .card_back {
    backface-visibility: hidden;
}

.card_back {
    transform: rotateY(180deg);
}

.part8 {
    background: #3C87C9;
    height: 1700px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
}

.text_part8_2 {
    display: grid;
    margin: auto;
    margin-top: 120px;
    grid-template-rows: 150px auto;
}

.part9 {
    display: grid;
    height: 772px;
    grid-template-columns: 40% 60%;
    background-color: #D2D4D4;
}

.text_part9_1 {
    display: flex;
    background: #2D6076;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text_part9_2 {
    margin: auto;
    margin-left: 50px;
}

.part10{
    background-color: #38424A;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 960px;
}
#pic_part10_1{
    margin: auto;
    width: 100%;
}
#pic_part10_2{
    margin: auto;
}
#pic_part10_3{
    margin: auto;
    width: 100%;

}

@media screen and (max-width: 800px){
    body{
        width: 100%;
    }

    #text_part3{
        width: 100%;
    }

}

