html {
        background-color: black;
}

.landing {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(#F3F1DD, #F0AFAF);
        grid-template-rows: 10% auto 10%;
        gap: 0;
        align-items: center;
}

.bottle {
        display: flex;
        align-items: center;
        background-image: url(../images/landing.svg);
        background-position: center;
        /* background-attachment: fixed; */
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0;
}

.title {
        background-image: url(../images/OnTheLock.svg);
        background-repeat: no-repeat;
        background-position: center;
        /* background-attachment: fixed; */
        background-size: cover;
        width: 1133px;
        height: 847px;
}

.newspaper {
        width: 100%;
        height: 150vh;
        background-image: linear-gradient(#C17C7C, #262526);
}