body {
    margin: 0;
}

.container-door {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F2F0DC;
    /* background-image: url("images/background.svg");
    background-size: cover;
    background-repeat: no-repeat; */
}

#background {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#background-mobile {
    display: none;
}

#bg-board {
    display: none;
}

#green-board {
    display: none;
}

#for-sale {
    width: 15%;
    z-index: 1;
    position: absolute;
    margin-left: 3%;
    margin-top: 5%;

    cursor: pointer;
    transition: 0.3s;
    animation: move 2s infinite ;
}

#for-sale:hover {
    scale: 1.2;
}

#forbidden {
    width: 10%;
    position: absolute;
    left: 7.5%;
    top: 46%;
    z-index: 1;
}

#contra {
    width: 17%;
    position: absolute;
    right: 3%;
    top: 51%;
    z-index: 1;
}

#L-chain {
    width: 36%;
    position: absolute;
    left: -5%;
    top: -1%;
}

#R-chain {
    width: 36%;
    position: absolute;
    right: -5.5%;
    top: -2%;
}

#chain {
    display: none;
}

.sale-popup {
    background-color: rgba(0, 0, 0, 0.373);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.prevent-scroll {
    overflow: hidden;
}

#lion {
    width: 22%;
    margin: 1rem 0 0.6rem 0;
}

#close-btn {
    position: absolute;
    right: 4%;
    top: 8%;
    cursor: pointer;
}

#close-btn:hover {
    opacity: 0.7;
}

.popup-box {
    position: relative;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Noto Sans Thai", sans-serif;
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    background: #F2F0DC;
    border: 6px solid #3C87C9;
    border-radius: 1.2rem;
    padding: 1rem 4rem;
    margin-bottom: 1rem;

    animation: zoom 0.5s ;
}

.hide {
    display: none;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes move {
    0% {
        transform: rotateZ(3deg);
    }
    50% {
        transform: rotateZ(-4deg);
    }
    100% {
        transform: rotateZ(3deg);
    }
}

@media (max-width: 820px) {
    #background {
        display: none;
    }

    #background-mobile {
        display: flex;
        width: 100%;
        background-position: center;
    }

    #forbidden, #contra, #L-chain, #R-chain{
        display: none;
    }

    #chain {
        display: flex;
        position: absolute;
        top: 6%;
        width: 100%;
    }

    #bg-board {
        display: flex;
        width: 100%;
    }

    #green-board {
        display: flex;
        position: absolute;
        width: 68%;
        top: 8.8%;
    }

    #for-sale {
        width: 40%;
        top: 38%;
    }

    .popup-box {
        width: 50%;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 2rem 2rem;
        margin-bottom: 1rem;
        z-index: 1;
    }

    #lion {
        width: 35%;
    }

    #close-btn{
        top: 5%;
    }
}
